@import '../../styles/global.scss';
.border-section{
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}
  .title-projects{
    color: $my-color;
  }
  p{
    text-align: justify;
  }
  a{
    text-decoration: none;
    .svg-size{
      color: black;
      width: 35px;
      height: 35px;
    }
  }
  .img-project-size{
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
  }