@import '../../styles/global.scss';

.container-blur{
  padding: 0;
  margin: 0;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out 0s;
  &:hover {
    @extend .container-blur;
      background-color: #fff;
      opacity: 1;
      box-shadow: 1px 3px 13px 0px rgba(0,0,0,0.75);
      border-radius: 8px;
      transition:  0.5s ease-in-out 0s;

    }
    .title-projects{
      color: $my-color;
    }
    
    a{
      text-decoration: none;
      .svg-size{
        color: black;
        width: 35px;
        height: 35px;
      }
    }
    .img-project-size{
      width: 100%;
      border-radius: 0px 5px 5px 0px;
      cursor: pointer;
      height: 100%;
    }
}