@import '../../styles/global.scss';
.container-blur{
  padding: 0;
  margin: 0;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out 0s;
  &:hover {
    @extend .container-blur;
      opacity: 1;
      box-shadow: 1px 3px 13px 0px rgba(0,0,0,0.75);
      border-radius: 10px;
      transition:  0.5s ease-in-out 0s;
  }
}
.title-projects{
  color: $my-color;
}
.svg-size{
  color: black;
  width: 35px;
  height: 35px;
}
.img-project-size{
  width: 100%;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}