section{
  .text-content{
    z-index: 1;
    color: #adb5bd;
  }
  .arrow-container{
    margin-bottom: 10px;
    z-index: 1;
    .link-style{
      opacity: 1;
      cursor: pointer;
      color: white;
    }
  }
}