@import '../../styles/global.scss';
.desc-content {
  font-weight: 900;
  .btn-primary{
    background-color: $my-color;
    border: 0px solid $my-color;
  }
  .img-media-size{
    width: 100%;
  }
  .Typewriter {
    font-size: xx-large;
    font-weight: bold;
    color: $my-color;
  }
}
