$font-family: 'Centra', 'Roboto', sans-serif;
$my-color: #0d6efdd4;
$gray-color: #6b7688;
$html-color: #f06529;
$css-color: #2965f1;
$sass-color:#f881e4;
$js-color:#f0db4f;
$dark-mode-color: #0d1117;
$react-color: #61dbfb;
$node-color: #68a063;
$mongo-color:#4db33d;
$firebase-color:#e08814;
$git-color: #f1502f;
$width-of-switch: 3.5em;
$height-of-switch: 2em;  
$size-of-icon: 1.4em;
$slider-offset: 0.3em;
$text-color-darkmode: #EFEFF1;
body {
  font-family: $font-family;
  letter-spacing: 0.8px;
  margin:0;
  padding:0;
  overflow:hidden;
  p{
    color: $gray-color;
  }

  .btn{
    letter-spacing: 1px;
    font-weight: bold;
  }
}