$font-family: 'Centra', 'Roboto', sans-serif;
$my-color: #0d6efdd4;
$gray-color: #6b7688;
$html-color: #f06529;
$css-color: #2965f1;
$sass-color:#f881e4;
$js-color:#f0db4f;
$react-color: #61dbfb;
$node-color: #68a063;
$express-color: 0.5;
$mongo-color:#4db33d;
$firebase-color:#e08814;
$git-color: #f1502f;
body {
  font-family: $font-family;
  letter-spacing: 0.8px;
  margin:0;
  padding:0;
  overflow:hidden;
  p{
    color: $gray-color;
    font-size: 20px;
  }

  .btn{
    letter-spacing: 1px;
    font-weight: bold;
  }
}