@import '../../styles/global.scss';

  .container-scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  transition: background-color 0.5s ease 0s;
  section{
    scroll-snap-align: center;
  }
  }  
  .container-scroll-dark {
    @extend .container-scroll;
    background-color: $dark-mode-color;
    color: #EFEFF1;
    a{
      color: #EFEFF1;
    }
    p{
      color: #EFEFF1;
    }

    input {
      outline: none;
      transition: background-color 0.5s ease 0s;
      color: #EFEFF1;
      background-color: inherit;
    }
    label{
      color: gray;
    
    }
    textarea{
      transition: background-color 0.5s ease 0s;
      background-color: inherit;
    }

  }

  

   
