@import '../../styles/global.scss';

.text-my-color{
  color: $my-color;
}
.text-style{
  text-align: justify;
  color: gray;
  font-size: 20px;
}
.btn{
  svg{
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 1000px) {
  .btn{
    svg{
      width: 30px;
      height: 30px;
    }
  }  
}

