@import '../../styles/global.scss';
.bg-about{
  box-shadow: 2px 2px 20px 0px;
  background-color: white;
  border-radius: 50px;
  padding: 48px;
  .text-style{
    text-align: justify;
    font-size: 17px;
  }
  .btn{
    .svg-size{
      width: 20px;
      height: 20px;
      color: inherit;
      margin-bottom: 4px;
    }
    svg{
      width: 35px;
      height: 35px;
    }
  }
}
.bg-about-dark{
  @extend .bg-about;
  background-color: inherit;
}  


  @media (min-width: 319px) and (max-width: 760px) {
    .bg-about{
      background-color: inherit;
      box-shadow: none;
      padding: 18px;
    }
  }

  @media (max-width: 1000px) {
    .btn{
      svg{
        width: 30px;
        height: 30px;
      }
    }  
  }