@import '../../styles/global.scss';

.form{
  border: 2px solid #dee2e683;
  border-radius: 10px;
  padding: 20px;
  .form-control{
    &:focus{
     border: 2px solid $my-color;
     box-shadow: none;
    }
   }
}