@import '../../styles/global.scss';
.bg-form-light{
  box-shadow: 2px 2px 20px 0px;
  margin-bottom: 100px;
  background: white;
  height: auto;
  border-radius: 50px;
  padding: 48px;
.form{
  border-radius: 10px;
  padding: 20px;
  .form-control{
    &:focus{
     border: 2px solid $my-color;
     box-shadow: none;
    }
   }
   .form-floating{
    label{
      left: 13px !important;
   }
  }
}
}
.bg-form-dark{
  @extend .bg-form-light;
  background-color: inherit;
}

@media (min-width: 319px) and (max-width: 359px) {
  .bg-form-light{
    box-shadow: none;
    padding: 10px;
    background-color: inherit;
    .contact-title{
      margin-left: 18px;
    }
  }
}

@media (min-width: 360px) and (max-width: 760px) {
  .bg-form-light{
    box-shadow: none;
    padding: 0px;
    background-color: inherit;
    .contact-title{
      margin-left: 18px;
    }
  }
}