@import '../../styles/global.scss';
.bg-form-style{
  background: white;
  height: auto;
  border-radius: 50px;
.form{
  border-radius: 10px;
  padding: 20px;
  .form-control{
    &:focus{
     border: 2px solid $my-color;
     box-shadow: none;
    }
   }
}
}