@import '../../styles/global.scss';

nav {
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #cfcdd3;
    div{
      div{
        div{
          svg{
            margin-right: 4px;
          }
          .nav-link {
              font-weight: bold;
              margin-right: 30px;
              letter-spacing: 0.8px;
          }
        }
      }
    }
}
  