@import '../../styles/global.scss';

.menu-hidden {
  padding-left: 20px;  
  transition: 0.3s ease;
  width: 105px;
  height: 100vh;
  background: inherit;
  position: fixed;
  z-index: 2;
  background-color: $my-color ;
  div{
    svg{
      font-size: 25px;
      margin-right: 10px;
    }  
    .nav-link {
      transition-duration: 0.25s;
      letter-spacing: 1px;
      margin-bottom: 10px;
      color: white;
      font-weight: bold;
      letter-spacing: 0.8px; 
      border-radius: 10px;
      padding: 10px 20px;
      transition-duration: 0.25s;
      span{
        transition-duration: 0.2s;
        transition-delay: 0.1s;
        display: none;
      }
          &:hover{
            background-color: #6994e4;
            color: white;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
          }
        }
      }
      &:hover{
        width: 220px;
        div{
          .nav-link{
            width: 150px;     
          transition-duration: 0.25s;
          span{
            transition-duration: 0.2s;
            transition-delay: 0.1s;
            display: contents;
          }
        }
      }
    }
} 
.menu-show{
  header{
    display: block
  }
  @extend .menu-hidden;
  display: block;
  width: 220px;
      div{
        .nav-link{
          width: 150px;     
          transition-duration: 0.25s;
          span{
            transition-duration: 0.2s;
            transition-delay: 0.1s;
            display: contents;
          }
        }
      }
}

@media (max-width: 990px) {
  header{
    display: none;
  }
}